
@{
    ViewBag.Title = "UploadFile";
}

<h2>Select a PDF file</h2>

@using (Html.BeginForm("UploadFile","Journal",FormMethod.Post,new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" id="file" accept="application/pdf" />

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Next" class="btn btn-default" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Home", "Index", "Home")
</div>